ReportsConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by mthiru (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ReportConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Report" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Report">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ChartType" type="ChartType" maxOccurs="unbounded"/>
				<xs:element ref="Data"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Filters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Filter" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Query">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Name" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Filter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Query" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="FilterValueType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="List"/>
						<xs:enumeration value="Query"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FilterValueQuery" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Query"/>
			</xs:sequence>
			<xs:attribute name="FilterDescription" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ChartType">
		<xs:sequence>
			<xs:element ref="Filters" minOccurs="0"/>
			<xs:element name="ChartType" type="ChartType" minOccurs="0"/>
			<xs:element name="Parent" type="ChartType" minOccurs="0"/>
			<xs:element ref="Query" minOccurs="0"/>
			<xs:element ref="Data" minOccurs="0"/>
			<xs:element name="Tag" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="BarChart"/>
					<xs:enumeration value="PieChart"/>
					<xs:enumeration value="LineChart"/>
					<xs:enumeration value="DataGrid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Description" type="xs:string" use="optional"/>
		<xs:attribute name="ShowXAxisLabel" type="xs:boolean"/>
		<xs:attribute name="ShowYAxisLabel" type="xs:boolean"/>
	</xs:complexType>
</xs:schema>
